@import "tailwindcss";

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }
}

@layer base {
  :root {
    --primary: #64a5e2;
    --background: #fdfdfd;
    --foreground: #171717;
    --secondary: #fefae0;
    --lightText: #f5f3f3;
    --darkText: #283618;
    --font-poppins: "Poppins", sans-serif;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-normal antialiased;
    font-family: var(--font-poppins);
  }
}

.th {
  @apply p-3 text-left font-semibold text-[16px] capitalize;
}

.td {
  @apply p-3 text-[13.5px] font-medium capitalize;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
